.app {
  margin: 20px;
}

.hotel-logo {
  height: 50px;
  width: 50px;
  float: left;
}

.booking-system {
  display: flex;
}

.nav-list {
  height: fit-content;
  width: 200px;
  border: 1px solid black;
  margin-right: 50px;
}

.nav-list-item {
  padding: 5px 10px;
}

.nav-list-item:hover {
  background-color: lightgray;
  cursor: pointer;
}

.nav-list-item:not(:last-child) {
  border-bottom: 1px solid black;
}

.nav-list-item.active {
  font-weight: bold;
}

.booking-container {
  width: 450px;
  padding: 10px;
  border: 1px solid black;
}

.booking-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-info {
  background-color: lightblue;
  padding: 5px;
  width: 400px;
  text-align: center;
}

.form-group {
  margin: 16px 0px;
}

.form-group label {
  height: 20px;
  width: 100px;
  margin-right: 10px;
  text-align: right;
  float: left;
}

.form-group input {
  height: 20px;
  width: 200px;
}

.form-group select {
  height: 26px;
  width: 200px;
}

.button-group {
  width: 100%;
  text-align: center;
}

.button-group button {
  height: 35px;
  width: 75px;
  background-color: white;
  border-radius: 4px;
}

.icon {
  float: right;
  font-size: 24px;
  font-weight: bolder;
  margin-right: 50px;
}

.check-icon {
  color: green;
}

.cross-icon {
  color: red;
}
